
     Source: my_program
     Section: utils
     Priority: optional
     Maintainer: Your Name <your_email@example.com>
     Standards-Version: 3.9.6

     Package: my_program
     Architecture: any
     Depends: ${shlibs:Depends}, ${misc:Depends}
     Description: My Program
      A brief description of my program.
     
